/.vscode
/5 Favorite Restaurants.html
/beaches.css
/BestBeaches.html
/CSSGoodCoffee.css
/good_coffee.html
/index.html
/java script bottles.html
/java script coffee.html
/JavaScript Day 1.js
/JSObjectsAndArrays.html
/JSObjectsAndArrays.js
/More Good Coffee.html
/restaurants.css
/resume.html
/travel.html